<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>АдминПанель. Книги</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="/image/rdLib.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/biblio.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-2" layout:fragment="sidebar">
            <div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>
        </div>
        <div class="col" layout:fragment="content">
            <a class="btn btn-success" style="margin: 1%" data-bs-toggle="modal" data-bs-target="#addModal">Добавить</a>
            <table class="table table-hover" style="margin: 1%">
                <thead class="table-light">
                <tr>
                    <th class="col" style="width: 10%">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">Название</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Изображение</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Дата публикации</th>
                    <th scope="col">Количество</th>
                </tr>
                </thead>
                <tbody id="books">

                </tbody>
            </table>

            <div class="modal fade"
                 th:each="book : ${books}" th:attr="id=${'editModal' + book.id}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{'/admin/books/' + ${book.id} + '/edit'}" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title">Редактирование книги
                                    <div th:text="${book.bookName}"/>
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="bookNameInputEdit" class="form-label">Название книги</label>
                                    <input name="bookName" type="text" th:value="${book.bookName}"
                                           class="form-control" id="bookNameInputEdit" placeholder="Введите название книги">
                                    <label for="bookDescriptionInputEdit" class="form-label">Описание</label>
                                    <textarea name="description" th:text="${book.description}" rows="5"
                                              class="form-control" id="bookDescriptionInputEdit" placeholder="Введите описание"></textarea>
                                    <label for="bookImgInputEdit" class="form-label">Ссылка на изображение</label>
                                    <input name="img" type="text" th:value="${book.img}"
                                           class="form-control" id="bookImgInputEdit" placeholder="Введите ссылку на изображение">
                                    <label for="bookISBNInputEdit" class="form-label">ISBN</label>
                                    <input name="isbn" type="text" th:value="${book.isbn}"
                                           class="form-control" id="bookISBNInputEdit" placeholder="Введите ISBN">
                                    <label for="bookPublicDateInputEdit" class="form-label">Дата публикации</label>
                                    <input name="publicDate" type="number" th:value="${book.publicDate}"
                                           class="form-control number" id="bookPublicDateInputEdit" placeholder="Введите дату публикации">
                                    <label for="bookCountInputEdit" class="form-label">Количество книг в наличии</label>
                                    <input name="count" type="number" th:value="${book.count}"
                                           class="form-control number" min="0" id="bookCountInputEdit" placeholder="Введите количество книг">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{'/admin/books/add'}" th:object="${book}" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title">Добавление книги</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="bookNameInputAdd" class="form-label">Название книги</label>
                                    <input name="bookName" type="text"
                                           th:field="*{bookName}" required
                                           class="form-control" id="bookNameInputAdd"
                                           placeholder="Введите название книги">
                                    <label for="bookDescriptionInputAdd" class="form-label">Описание</label>
                                    <textarea name="description"
                                              th:field="*{description}" required rows="5"
                                              class="form-control" id="bookDescriptionInputAdd"
                                              placeholder="Введите описание"></textarea>
                                    <label for="bookImgInputAdd" class="form-label">Ссылка на изображение</label>
                                    <input name="img" type="text"
                                           th:field="*{img}"
                                           class="form-control" id="bookImgInputAdd"
                                           placeholder="Введите ссылку на изображение">
                                    <label for="bookISBNInputAdd" class="form-label">ISBN</label>
                                    <input name="isbn" type="text"
                                           th:field="*{isbn}" required
                                           class="form-control" id="bookISBNInputAdd"
                                           placeholder="Введите ISBN">
                                    <label for="bookPublicDateInputAdd" class="form-label">Дата публикации</label>
                                    <input name="publicDate" type="number"
                                           th:field="*{publicDate}"
                                           class="form-control number" id="bookPublicDateInputAdd"
                                           placeholder="Введите дату публикации">
                                    <label for="bookCountInputAdd" class="form-label">Количество книг в наличии</label>
                                    <input name="count" type="number"
                                           th:field="*{count}" required
                                           class="form-control number" min="0" id="bookCountInputAdd"
                                           placeholder="Введите количество книг">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="../../static/js/admin/edit-delete.js"></script>
</html>