<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>АдминПанель. Жанры</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="/image/rdLib.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/biblio.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-2" layout:fragment="sidebar">
            <div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>
        </div>
        <div class="col" layout:fragment="content">
            <a class="btn btn-success" style="margin: 1%" data-bs-toggle="modal" data-bs-target="#addModal">Добавить</a>
            <table class="table table-hover" style="margin: 1%">
                <thead class="table-light">
                <tr>
                    <th scope="col" style="width: 10%">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">Название жанра</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="genre : ${genres}">
                    <td>
                        <a class="btn btn-warning" data-bs-toggle="modal"
                           th:attr="data-bs-target=${'#editModal' + genre.id}" data-row="${genre}">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a class="btn btn-danger"
                           th:onclick="'isDelete(' + ${genre.id} + ')'"><i class="bi bi-trash"></i></a>
                    </td>
                    <td th:text="${genre.id}"></td>
                    <td th:text="${genre.genreName}"></td>
                </tr>
                </tbody>
            </table>

            <div class="modal fade"
                 th:each="genre : ${genres}" th:attr="id=${'editModal' + genre.id}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{'/admin/genres/' + ${genre.id} + '/edit'}" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title">Редактирование жанра <div th:text="${genre.genreName}"/></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="genreNameInputEdit" class="form-label">Название жанра</label>
                                    <input name="genreName" type="text" th:value="${genre.genreName}"
                                           class="form-control" id="genreNameInputEdit" placeholder="Введите название жанра">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{'/admin/genres/add'}" th:object="${genre}" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title">Добавление жанра</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="genreNameInputAdd" class="form-label">Название жанра</label>
                                    <input name="genreName" type="text"
                                           class="form-control" id="genreNameInputAdd"
                                           placeholder="Введите название жанра"
                                           th:field="*{genreName}" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script>
    function isDelete(genreId) {
        let isConf = confirm("Удалить запись?");
        if (isConf) {
            document.location.replace("/admin/genres/" + genreId + "/delete");
        }
    }
</script>

</html>