<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-2" layout:fragment="sidebar">

        </div>
        <div class="col" layout:fragment="content">

        </div>
    </div>
</div>
</body>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="/js/admin/authors.js"></script>
<script src="/js/admin/books.js"></script>
<script src="/js/admin/publishers.js"></script>
<script src="/js/admin/genres.js" crossorigin></script>
<script src="/js/admin/users.js"></script>
<script>
    window.onload = () => {
        if (window.location.href.search("/admin/authors") > 0) getAuthorsList()
        if (window.location.href.search("/admin/books") > 0) getBooksList()
        if (window.location.href.search("/admin/publishers") > 0) getPublishersList()
        if (window.location.href.search("/admin/genres") > 0)
        {
            let pageNumber = document.URL.substring(document.URL.lastIndexOf('/') + 1)
            getGenresListOnPage(pageNumber)
            //getGenresList()
        }
        if (window.location.href.search("/admin/users") > 0) getUsersList()
    }
</script>
</html>