<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>АдминПанель. Издатели</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="/image/rdLib.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/biblio.css"/>
</head>
<body>
    <table class="table table-hover" style="margin: 1%">
        <thead class="table-light">
            <tr>
                <th scope="col" style="width: 10%">#</th>
                <th scope="col">ID</th>
                <th scope="col">Название Издателя</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="publisher : ${publishers}">
                <td>
                    <a class="btn btn-warning" data-bs-toggle="modal"
                       th:attr="data-bs-target=${'#editModal' + publisher.id}" data-row="${publisher}">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a class="btn btn-danger"
                       th:onclick="'isDelete(' + ${publisher.id} + ')'"><i class="bi bi-trash"></i></a>
                </td>
                <td th:text="${publisher.id}"></td>
                <td th:text="${publisher.publisherName}"></td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-success" style="margin: 1%">Добавить</a>

    <div class="modal fade"
         th:each="publisher : ${publishers}" th:attr="id=${'editModal' + publisher.id}">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{'/admin/publishers/' + ${publisher.id} + '/edit'}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Редактирование издателя <div th:text="${publisher.publisherName}"/></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="publisherNameInput" class="form-label">Название издателя</label>
                        <input name="publisherName" type="text" th:value="${publisher.publisherName}"
                               class="form-control" id="publisherNameInput" placeholder="Введите название издателя">
                    </div>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
<script>
    function isDelete(publisherId) {
        let isConf = confirm("Удалить запись?");
        if (isConf) {
            document.location.replace("/admin/publishers/" + publisherId + "/delete");
        }
    }
</script>

</html>