<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<body th:fragment="nav-menu">
<section class = "head">
  <header class="header justify-content-between">
    <a th:href="@{/}"><img src="https://i.postimg.cc/9FpWWbkr/rd-lib.png" height="40" width="40"></a>
    <nav>
      <ul class = "menu">
        <li><a th:href="@{/}">Главная</a></li>
        <li><a th:href="@{/catalog}">Каталог</a></li>
        <li><a th:href="@{/about}">О нас</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/profile}">Профиль</a></li>
      </ul>
    </nav>
    <div sec:authorize="isAuthenticated()" class = "btn__menu">
      <span th:text="${user.username}"></span>
      <a th:if="${userAdmin}" th:href="@{/admin/authors}">Перейти в панель администратора ↑</a>
      <a th:href="@{/logout}">Выйти</a>
    </div>
    <div sec:authorize="!isAuthenticated()" class = "btn__menu">
      <a th:href="@{/login}">Войти</a>
      <a th:href="@{/register}" style = "margin-left: 0px; margin-right: 0px;">Регистрация</a>
    </div>
  </header>
</section>
</body>
</html>