<div class = "bar">
    <ul class = "combo" style = "width: 1460px;height: 60px;" th:fragment="params">
        <select id="auth">
            <option value="0">Авторы</option>
        </select>
        <select id="genre">
            <option value="0">Жанры</option>
        </select>
        <select id="publ">
            <option value="0">Издатели</option>
        </select>
        <input class="input-date" type="number" name="publicDate" id="date" placeholder="Дата" style="padding: 11px 11px">
    </ul>
</div>