*{
    padding: 0; margin: 0;
}

.reg-bg{
    width: 810px;
    height: 621px;
    background-color: #FFE68B;
    display: flex;
    justify-content: center;
    margin: 15px auto;
}

.user{
    padding: 5px;
    border-radius: 15px;
    border-width: inherit;
    margin: 10px 3px;
}

#reg-btn{
    height: 43px;
    width: 394px;
    background-color: white;
    border-radius: 15px;
    border-width: inherit;
    margin-top: 10px
}

.form{
    width: 50%;
    display: flex;
    align-items: center;
}

body 
{
    width: 1920px;
    height: auto;
    /*flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 14px;*/
}

#search-button{
    height: 40px;
    width: 29px;
    color: white;
    border-radius: 15px;
    border-width: inherit;
}

.header 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 237px;
    box-sizing: border-box;
	width: 1920px;
    height: 83px;
    flex-shrink: 0;
    background: #FFE68B;
    /*max-width: 1459px;*/
    margin: 0 auto;
    margin-bottom: 14px;
}

.menu {
    display: flex;
    list-style: none;
}
.menu li {
	margin-left: 53px;
}

.menu li a {
    text-decoration: none;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.menu li a:hover {
	color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn__menu a{
    color: #000;
    text-decoration: none;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #FFF;
    border-radius: 14px;
    padding: 16px 35px;
    display: inline-block;
    margin: 0 13px;
    background: #FFF;
}
.btn__menu a:hover{
    background: #1D1D1D;
    color: #ffffff;
    border: #1D1D1D;
}

.criteria {
    width: 1460px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 11px;
    background: #FFE68B;
    margin: 0 auto;
    list-style: none;
}

.bar {
    width: 1460px;
    height: 60px;
    display: flex;
}

.combo {
padding: 20px 0px;
}
.combo ul {
    width: 1460px;
    height: 60px;
}

.bar li {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #FFF;
    border-radius: 14px;
    padding: 10px 18px;
    display: inline-block;
    margin: 0 13px;
    background: #FFF;
}

.search {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 14px;
    width: 1310px;
    height: 40px;
    display: inline-block;
    margin: 21px 74px;
    background: #ffffff;
}

.search-input{
    border-radius: 14px;
    width: 1274px;
    height: 40px;
    padding: 5px;
    border-width: inherit;
}

.search-input:checked{
    border-color: #FFE68B;
}

.book-bg {
    width: 1460px;
    height: 458px;
    flex-shrink: 0;
    border-radius: 11px;
    background: #FFE68B;
    margin: 14px auto;
    list-style: none;
}

.book-img{
    width: 269px;
    height: 390px;
    margin-right: 25px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.book-nm{

}

.book {
    width: 1412px;
    height: 458px;
    display: flex;
    margin: 0 auto;
    padding-top: 24px;
    padding-left: 24px;
}

.book li {
    width: 1406px;
    height: 410px;
    border: 1px solid #FFF;
    border-radius: 14px;
    display: flex;
    margin: 0px 24px 24px 0px;
    background: #FFF;
    align-items: center;
}

select{
    padding: 11px;
    border-radius: 15px;
    background-color: white;
    height: 45px;
    margin-right: 82px;
    width: 261.28px;
    border-width: 0;
}

nav{
    vertical-align: middle;
    text-align: center;
}

