<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Электронная библиотека ReaDream</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/png" sizes="16x16" href="/image/rdLib.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/biblio.css"/>
</head>
<body>
<div th:replace="~{fragments/header-fragment :: nav-menu}"></div>
<section class="flex-container justify-content-between">
    <div class="criteria">
        <div id="search-div">
            <div th:replace="~{fragments/inputs-params}"></div>
            <div th:replace="~{fragments/search-input-fragment}"></div>
        </div>
    </div>
</section>
<span th:text="${searchText}"></span>
<section class="flex-container">
    <div id="content">

    </div>
</section>
<div id="pager-search"></div>
</body>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="/js/search.js"></script>
<script src="/js/filter.js"></script>
</html>